<div class="mt-5 p-2 position-relative" style="max-width:300px; margin: 0 auto; ">
    <div *ngIf="errors"  class="alert alert-danger" role="alert">
        {{errors}}
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()">        
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" >
        </div> 
        <div class="mb-3">
            <label for="exampleInputConfirmPassword1" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="exampleInputConfirmPassword1" formControlName="confirmPassword">
        </div>   
        <button type="submit" class="btn btn-success">Register</button>
    </form>
    <a class="" style="position:absolute; bottom:8px ;right:8px" [routerLink]="['/auth/login']">Login</a>
</div>
    

